# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Blender
*.blend1
*.blend2
*.blend@
*.blend?
__pycache__/
*.blend.save
*.blend@
*.blend?

# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Logs and reports
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.log

# Databases
db.sqlite3
db.sqlite3-journal

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# MkDocs build
/site/

# Editors
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# Jupyter
.ipynb_checkpoints
